@import (reference) '~antd/es/style/themes/index';

.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: auto;
  background: @layout-body-background;
}

.content {
  flex: 1;
  padding: 32px 0;
}
.code {
  box-sizing: border-box;
  overflow: hidden;
  background: #fff;
  border: 1px solid #d9d9d9;
  img {
    width: 100%;
    height: 100%;
    vertical-align: middle;
  }
}
